@using Microsoft.AspNetCore.Identity
@using HMS.Areas.Identity.Model
@inject SignInManager<Admin> SignInManager
@inject UserManager<Admin> UserManager
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>

<ul class="nav nav-tabs" style="display:flex; align-items:center;justify-content:center;">
    @if (SignInManager.IsSignedIn(User))
    {
    <li>
            <a style="font-size:20px;" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li>
        <form class="form-inline" asp-area="Identity"  asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark" style="font-size:20px;">Logout</button>
        </form>
    </li>
}
else
{
    <li>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" style="font-size:20px;">Register</a>
    </li>
    <li>
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" style="font-size:20px;">Login</a>
    </li>
}
</ul>
