@page
@model IndexModel
@inject SignInManager<HMS.Areas.Identity.Model.Admin> SignInManager
@inject UserManager<HMS.Areas.Identity.Model.Admin> UserManager;
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
@{
    var user = await UserManager.GetUserAsync(this.User);
    if (SignInManager.IsSignedIn(this.User) && user != null)
    {
        <div class="text-center">
            <h1 class="display-4">Welcome to our Hotel Management System</h1>
        </div>
        <ul class="nav nav-tabs" style="display:flex; align-items:center;justify-content:center;">
            <li class="dropdown">
                <a style="font-size:20px;cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown">Customers &#9660;</a>
                <ul class="dropdown-menu">
                    <li><a asp-page="/Customer/AddCustomer" style="font-size:20px;">Add a new customer</a></li>
                    <li><a asp-page="/Customer/GetCustomers" style="font-size:20px;">See all customers</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a style="font-size:20px;cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown">Rooms &#9660;</a>
                <ul class="dropdown-menu">
                    <li><a asp-page="/Room/AddRoom" style="font-size:20px;">Add a new room</a></li>
                    <li><a asp-page="/Room/GetRooms" style="font-size:20px;">See all rooms</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a style="font-size:20px;cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown">Reservations &#9660;</a>
                <ul class="dropdown-menu">
                    <li><a asp-page="/Reservation/AddReservation" style="font-size:20px;">Add a new reservation</a></li>
                    <li><a asp-page="/Reservation/GetReservations" style="font-size:20px;">See all reservations</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a style="font-size:20px;cursor:pointer;" class="dropdown-toggle" data-toggle="dropdown">Admins &#9660;</a>
                <ul class="dropdown-menu">
                    <li><a asp-page="/Admin/GetAdmins" style="font-size:20px;">See all admins</a></li>
                </ul>
            </li>

            <partial name="_LoginPartial" />



        </ul>
    }
    else
    {
        <script>
            window.location.href = "/Identity/Account/Register";
        </script>
        
    }
}


