@page "/Error/{StatusCode}"

@model HMS.Pages.NotFoundModel
@{
}
<head>
    <link rel="stylesheet" href="/css/Error.css" />

</head>
<div class="error-container">
    <h1>Error</h1>
    <p>An error occurred while processing your request.</p>
</div>